/* Menu */
.bg-dark {
    background-color: rgb(34, 34, 34) !important;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 1%
}

/* masonry using flexbox */
.masonry { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}

.masonry-img {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
}

.reviews {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}
.review-content {
    flex: ;
    width: 20px;

    margin: 0 8px 8px 0;
    background-color: brown;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    flex-shrink: 0;
}