/* Menu */
.bg-dark {
    background-color: rgb(34, 34, 34) !important;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 1%
}

/* masonry using flexbox */
/* old version
.masonry { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}

.masonry-img {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
} */

.masonry { 
    width: 100%;
    padding: 5px;
    columns: 4;
    column-gap: 10px;
}

.masonry-img {
    width: 100%;
    overflow: hidden;
    break-inside: avoid;
    margin: 5px;
}



.reviews {
    width: 100%;
    margin: 20px auto;
    columns: 4;
}
.review-content {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
    background-color: rgb(211, 211, 211);
}


html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    flex-shrink: 0;
}