/* Menu */
.bg-dark {
    background-color: rgb(34, 34, 34) !important;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 1%
}

/* masonry using flexbox */
.masonry { 
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.masonry-img {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}